.container{
  background-color: rgba(241, 241, 241, 0.7);
  width: 100%;
  padding: 20px;
}

.container > div{
  margin-bottom: 26px;
}

.first_row{
  display: flex;
  gap: 25px;
}

.first_row > div{
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 12px;
  border-radius: 4px;
}

.second_row{
  background-color: white;
  border-radius: 4px;
  height: 220px;
  padding: 12px;
}