.container{
  width: 100%;
  margin: 0 auto;
}

.list_table{
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}

.list_table td{
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.list_table > thead > tr{
  border-bottom: 2px solid #0d6efd;
  font-weight: bold;
}

.list_table > tbody > tr{
  border-bottom : 2px solid rgba(223, 223, 223, 0.5);
}

.product_info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}