*{
  box-sizing: border-box;
}

.container{
  border: 1px, solid #dddddd;
  width: 300px;
  margin: 30px auto;
  border-radius: 5px;
  padding: 0px 20px;
}

.container p{
  margin: 0px;
}

.container > div{
  margin-bottom: 10px;
}

/* 속성 선택자 : 속성값이 동일한 태그만 선택
  input태그 중에서 type속성의 값이 text인 것만 선택
*/
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 6px;
  border: 1px, solid#dddddd;
}

hr{margin-bottom: 20px;
}

.intro{
  font-size: 0.6rem;
}

.intro > span{
  text-decoration: underline;
}

button{
  background-color: rgb(74, 131, 255);
  color: white;
  border: none;
  width: 100%;
  padding: 6px 0px;
}

.join{
  text-align: center;
  font-size: 0.8rem;
  margin: 10px 8px;
}