.container{
  width: 750px;
  margin-left: 20px;
  margin-right: 20px;
}

table{
  width: 100%;
  text-align: center;
}


thead > tr{
  border-top: 1px solid black;
  text-align: center;
  padding: 40px 40px;
  margin: 20px;
}

tr{
  border: 1px solid #dddddd;  
}

tbody > tr > td > :first-child{
  text-align: center;
  color: rgb(236, 167, 77);
}