.header{
  height: 150px;
  background-color: black;
  color: white;
  display: flex;
  /* 교차축 센터 align-items: center */
  align-items: center;
  /* 가운데 공간 만들고 싶을 때 */
  justify-content: space-between;
  padding: 0px 20px;
}

.title, ul{
  border: 1px solid orange;
}

ul{
  display: flex;
  width: 300px;
  justify-content: space-between;
}