* {
  box-sizing: border-box;
}

.container{
  border: 1.5px solid #dddddd;
  width: 300px;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #eeeeee;
  padding: 20px;
}

input{
  width: 100%;
  margin: 3px 0px;
  padding: 6px 4px;
  border-radius: 115px;
  border: 1.4px solid #dddddd;
  font-size: 12px;
}

h2{
  text-align: center;
}

.btn{
  background-color: black;
  color: white;
  margin: auto;
}