.container{
  width: 500px;
  height: 220px;
  border: 2px solid #f3f0f0;
  border-radius: 10px;
  margin: auto;
}

.header{
  margin: 13px;
  padding-bottom: 7px;
  border-bottom: 1.9px solid #bbbaba;
}

.login{
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 300px;
  height: 140px;
  margin: 23px;
  margin-top: 16px;
  
}

.info{
  display: flex;
}

