.container{
  border: 5px solid red;
  margin: 20px;
  width: 500px;
  font-size: 2rem;
}

.inner1{
  border: 5px solid black;
  padding: 0px 10px;
  width: 500px;
  /* boxsizing은 width 계산의 기준을 설정 */
  /* conten-box : width룰 컨텐츠 영역을 기쥰으로 삼겠다 */
  /* border-box : width를 테두리까지 합친 기준으로 삼겠다*/
  /* border-sizing :속성을 작성 작성하지 않으면 content-box가 기본값이다 */
  /* 모든 태그에 box-sizing : border-box로 설정 후 코드 작성 */
  box-sizing: content-box;
}

.inner2{
  border: 5px solid black;
  padding: 0px 10px;
  width: 500px;
  box-sizing: border-box;
}

*{
  color: blue;
}