.icon{
  position: fixed;
  bottom: 30px;
  right: 30px;

  color: rgb(15, 70, 250);
  font-size: 1.5rem;

  border: 1px solid;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  line-height: 46px; /* 행간 높이 */
  /* height 속성과 line-height 속성의 값이 같으면, 세로 기준 가운데 정렬 (비추) */
}