div{
  border: 1px solid black;
  margin: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
}

.d2{
  background-color: deepskyblue;
  color: black
}

/* 00 클래스에 마우스 올리면 - (색깔 바뀌게 하는 것) */
.d2:hover{
  position: relative;
  top: 80px;
  left: 80px;
}

.d3{
  background-color: rgb(252, 255, 54);
  color: black
}

.d3:hover{
  position: relative;
  left: 80px;
}