.input-basic{
  padding: 4px;
  border: 1px solid skyblue;
  border-radius: 50px;
}

.small{
  width: 80px;
}

.normal{
  width: 120px;
}

.btn{
  padding: 6px 16px;
  color: white;
  border: none;
}

.btn-primary{
  background-color: blue;
}

.btn-success{
  background-color: aqua;
}