/* 
  img vs background image
  img : 이미지 자체가 정보를 나타낼 때 사용
  background image : 그냥 장식용, 디자인용
*/

div{
  width: 300px;
  height: 500px;
  border: 1px solid black;
  margin: 30px;
}

/* 
  background-image 속성을 사용하면 기본적으로 이미지를
  반복사용해서 영역을 꽉 채우는 성질을 지님
*/
.img-div{
  background-image: url('house.jpg');
  width: 1000px;
  height: 700px;
  background-repeat: no-repeat;
  /* 
    contain : 영역을 벗어나지 않을 만큼만 늘어남, 빈 공간 발생할 수 있음
    cover : 빈 공간이 발생하지 않을 만큼 늘어남, 이미지가 잘릴 수 있음
  */
  background-size: cover; /* cotain, cover 많이 쓰임  */
  /* 수평 수직 */
  background-position: center center;
}

img{
  width: 100%;
  height: 100%;
  /* background-size 속성과 동일 */
  object-fit: cover;
  /* backgroubd-position 속성과 동일 */
  object-position: left center;
}