.container {
  width: 1200px;
  margin: auto;
}

/* 헤더 메뉴 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 400px;
}

.info {
  display: flex;
  gap: 28px;
}

.info li a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.info a:hover {
  color: orange;
}

.search {
  position: relative;
}

.search input {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
}

.search i {
  position: absolute;
  right: 10px;
  top: 4px;
  color: orange;
}

/* 슬라이드 */
.slide {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slidetext {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

h1 {
  color: orange;
}

.slide button {
  background-color: orange;
  border: none;
  padding: 10px 50px;
  margin: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}


/* Free Website Templates */
.icons {
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 980px;
  margin: 20px auto 50px;
}

.ribbon {
  width: 250px;
  margin: 10px auto;
}

.icon div {
  width: 220px;
  text-align: center;
}

.icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  border-radius: 50%;
  border: 13px solid orange;
  font-size: 23px;
  margin: 30px 30px ;
  width: 100px;
  height: 100px;
  margin-left: 60px;
}

h5{
  color: gray;
}

/* Lateste blog posts */
.latestblogposts {
  text-align: center;
  margin-bottom: 50px;
}

.posts {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
}

.post {
  position: relative;
  width: 32%;
}

.post img {
  width: 100%;
  display: block;
}

.shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 25px;
  font-weight: bold;
  font-size: 19px;
  text-align: left;
  padding-left: 15px;
}