@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*.montserrat-<uniquifier>{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: rgb(198, 239, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 300px;
}

img{
  width: 80px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  width: 20%;
}

.info{
  display: flex;
  gap: 6px;
  align-items: center;
  padding: 8px;
  background-color: white;
  margin: 10px auto;
  border-radius: 8px;
  transition: all 1s;
}

.info:hover{
  scale: 1.2;
}

.info > div{
  width: 80%;
}

.email{
  color: #888888;
  font-size: 0.7rem;
  margin-top: 4px;
}

.name{
  font-weight: bold;
}