* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: rgb(204, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 360px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
}

.img-div{
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.img-div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all, 0.5s;
}

.img-div > img:hover{
  scale: 1.1;
}

.heart{
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.detail-div{
  padding: 10px;
}

.detail-1 > p:nth-child(1){
  font-weight: bold;
}
.detail-1 > p:nth-child(2){
  font-weight: 550;
  font-size: 2rem;
  color: orange;
  margin: 5px 0px;
}
.detail-1 > p:nth-child(3){
  color: #aaaaaa
}

.detail-2{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  /* space-evenly : 완전 동등하게 */
  justify-content: space-evenly;
  padding: 15px; 0px;
  margin: 15px 0px;
}

.info{
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}
.info > button{
  border: none;
  background-color: rgb(65, 211, 89);
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  margin-left: auto;
}


.detail-3 img{
  width: 45px;
  border: 1px solid black;
  border-radius: 50%;
}