/* 
  가상클래스 : 가상의 선택자, 실제로 존재하지 않는 
  요소나 상태 조건에 따라 스타일을 적용할 때 사용
*/

.d1 .d2{
  width: 150px;
  height: 150px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  margin: 20px;
  text-align: center;
  line-height: 150px;

  transition: all 0.5s;
}


/* 마우스를 올리면 */
.d1:hover{
  background-color: rgb(255, 0, 0);
  width: 200px;
  height: 200px;
}

input{
  width: 150px;
  margin-left: 20px;
  transition: all 2s;
}

input:focus{
  width: 250px;
}

ul > li:first-child{
  background-color: rgb(0, 255, 85);
}

ul > li:last-child{
  background-color: rgb(0, 255, 85);
}

ul > li:nth-child(even){
  background-color: brown
}

 first child 는 태그의 종류보다
  순서를 더 우선시,첫번째 자식이 span일 때만 적용!

.d3 > span:first-of-type{
  color: crimson;
}
