.container{
  border: 4px, solid black;
  width: 800px;
  height: 600px;
  margin: 30px auto;
}

.d1{
  border: 4px, solid rgb(192, 82, 31);
  height: 30%;
}

.d2{
  border: 4px, solid rgb(36, 192, 31);  
  height: 70%;
  display: flex;
}

.d2 > div:first-child{
  border: 4px, solid rgb(87, 31, 192);
  width: 60%;
}

.d2 > div:last-child{
  border: 4px, solid rgb(87, 31, 192);
  width: 40%;
  display: flex;
  flex-direction: column;
}

.d2 > div:last-child > div{
  border: 4px, solid rgb(4, 0, 255);
  height: 100%;
}