div{
  border: 2px solid black;
}

.container{
  width: 800px;
  height: 600px;
  margin: 30px auto;
}

.container > div:first-child{
  display: flex;
  border: 4px solid greenyellow;
  height: 8%;
}

.container > div:nth-child(2){
  display: flex;
  border: 4px solid rgb(255, 111, 130);
  height: 70%;
}

.greenline > div:first-child{
  width: 60%;
  border:4px solid crimson
}

.greenline > div:last-child{
  width: 40%;
  border:4px solid rgb(165, 242, 255)
}

.pinkline > div:first-child{
  width: 20%;
  border:4px solid rgb(148, 106, 67)
}

.pinkline > div:last-child{
  width: 80%;
  border:4px solid rgb(148, 106, 67)
}

.container > div:last-child{
  height: 22%;
}