.container{
  width: 700px;
  margin: 30px auto;
}

table{
  width: 100%;
  text-align: center;
}

thead > tr{
  border-top: 1px solid black;
  border-bottom: 1px solid #dddddd;
}

tbody > tr{
  border-bottom: 1px solid #dddddd;
}

td{
  padding: 10px 4px;
}

tbody > tr > td:nth-child(3){
  text-align: left;
}

tbody > tr:nth-child(even){
  background-color: #eeeeee;
}

tbody >:hover{
  background: #dddddd;
}

.a:hover{
  cursor: pointer;
}

tbody > tr td:nth-child(3):hover{
  cursor: pointer;
}