/* 전체 영역 div ! */
.container{
  width: 500px; /* 창 크기 */
  margin: auto; /* 창 밖 여백 */
}

h2{
  text-align: center; /* 글자는 습관성(align)적기 */
}

.title{
  text-align: right; /* 글자는 습관성(align)적기 */
}

/* 테이블 테두리 ! */
table{
  border: 1px solid black;
  width: 100%; /* 창 가로 줄 안에 꽉 들어오게 채우겠다 ! */
}
tr, td{
  text-align: center; /* 글자는 습관성(align)적기 */
  border: 1px solid black;
}

.btn-div{
  text-align: right;
  margin-top: 10px;
}

.caption{
  color: red;
  font-size: 0.7rem;
}
