test3_container{
  margin: 30px;
}

.test3_container > div{
  width: 300px;
  height: 50px;
  background-color: crimson;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  padding: 10px;
}