<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_student.mapper.StuMapper">

    <!--resultMap-->
    <!-- 이 column(DB에서 전체에서 조회되는 컬럼명)들이 조회되면, -> 저는 DTO에 있는 000에 담을거예요~ -->
    <resultMap id="class" type="com.green.backend_student.dto.ClassDTO">
        <id     column="CLASS_NUM" property="classNum"/>
        <result column="CLASS_NAME" property="className"/>
    </resultMap>

    <!--1 : 1 -> association 태그 사용-->
    <!--1 : n -> collection 태그 사용-->
    <select id="selectStuList" resultMap="student">
        <!-- resulMap 'DB전체에서 조회한 정보(한줄)을 JAVA로 가져올거예요~' -->
        SELECT STU_NUM
        , STU_NAME
        , STU_AGE
        , CLASS_NAME
        FROM STUDENT_INFO S INNER JOIN CLASS_INFO C
        ON S.CLASS_NUM = C.CLASS_NUM

        <!-- 표를 처음에 바로 띄우고 / select 선택하면 다시 그 카테고리 띄울지 -->
        <!-- if/foreach 문 안에 작성된 변수는 (무조건 getter 를 호출) -->
        <if test="classNum != 0">
        <!-- #{classNum} 얘를 왜 적는지 -->
        WHERE S.CLASS_NUM = #{classNum}
        </if>
        <!-- 왠만하면 클래스 넘버 PK값 -->

    </select>

    <!--학급목록 조회-->
    <resultMap id="student" type="com.green.backend_student.dto.StuDTO">
        <id     column="STU_NUM" property="stuNum"/>
        <result column="STU_NAME" property="stuName"/>
        <result column="STU_AGE" property="stuAge"/>
        <result column="CLASS_NUM" property="classNum"/>
        <association property="classDTO" resultMap="class"/>
    </resultMap>

    <!-- 학생목록 조회 -->
    <select id="getClassList" resultMap="class">
        SELECT CLASS_NUM
            , CLASS_NAME
        FROM CLASS_INFO
        ORDER BY CLASS_NUM
    </select>

</mapper>































