div{
  margin: 20px auto;
  font-size: 15px;
}

div > h4 {
  text-align: center;
  margin-bottom: 20px;
}

.container{
  width: 500px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
}