.container{
  width: 900px;
  margin: 0 auto;
}

.header_div{
  height: 27vh;
}

.main{
  display: flex;
  height: 73vh;
}

.side{
  width: 20%;
}

.content{
  width: 80%;
  padding-left: 20px;
  padding-bottom: 0px;
}