.container{
  width: 500px;
  text-align: center;
}

.container > thead > tr{
  border-top: 1px solid black;
  border-bottom: 1.5px solid black;
  background-color: aqua;
}

.container > tbody > tr{
  border-bottom: 1px solid;
}

.container td{
  padding: 6px;
}

.container > tbody > tr:nth-child(even){
  background-color: #eeeeee;
}

.container > tbody > tr:hover{
  background-color: #dddddd;
}

.title:hover{
  cursor: pointer;
  text-decoration: underline;
}