.header-container{
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.profile{
  text-align: right;
  color: white;
}

.profile > span{
  margin: 10px;
}

.profile a{
  color: red;
  text-decoration: none;
}

.title{
  text-align: center;
  font-size: 4rem;
  color: white;
}