div{
  margin: 20px auto;
  font-size: 15px;
}

div > h5 {
  text-align: center;
  margin-bottom: 20px;
}

.container{
  width: 500px;
  text-align: center;
  background-color: rgb(253, 250, 77);
  border: 1px solid white;
}

table {
  border-collapse: collapse;
}

.container td, .container th {
  border: 2px solid white
}

.container > tbody > tr:nth-child(odd) {
  background-color: rgb(143, 255, 249);
}

.container > thead > tr{
  border-bottom: 3px solid rgb(252, 252, 252);
  background-color: rgb(255, 68, 199);
  color: white
}

.container > tbody > tr{
  border-bottom: 1px solid;
}