<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->

<!-- 4. <mapper 에서> 쿼리문을 작성 -->
<!-- 6. 긁어오기 + .MemberMapper -->
<mapper namespace="com.green.basic_member.mapper.MemberMapper">
    <!-- 4 - 1 <회원 한명을 등록하는 쿼리를 실행하는 기능구현 (등록데이터는 맘대로)  -->
	<insert id="insertMember">
        INSERT INTO BASIC_MEMBER (
            MEM_ID
            , MEM_PW
            , MEM_NAME
            , MEM_AGE
            , BIRTHDAY
        ) VALUES (
            'java'
            , '1234'
            , 'kim'
            , '20'
            , '20250707'
        )
    </insert>
</mapper>































