.container{
  /* positon 앱솔/fixed는 배너 용도가 아니다 */
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  height: 60px;
  /* 배너 배경 색 */
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuCategory ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.menuCategory li {
  display: table-cell;
  padding: 0 20px;
  text-align: center;
}

.menuCategory li a {
  padding: 5px;
  /* 배너 글자 (색) */
  color: rgb(243, 247, 227);
  /* 기본 밑줄 없애기 */
  text-decoration: none;
}

