/* 전체 (표) */
.container{
  border: 4px solid rgb(70, 154, 243);
  border-radius: 20px;
  padding: 20px;
}

/* 자유 게시판 (제목) */
.title_div{
  font-size: 23px;
  color: rgb(70, 154, 243);
  text-align: center;
  margin-bottom: 16px;
}

/* 입력란 (위치) */
.search_div{
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-bottom: 20px;
}

/* 입력란 (버튼) */
.search_div button{
  color: rgb(66, 64, 64);
  font-weight: bold;
  background-color: #c0edff;
  border: 2px solid rgb(123, 201, 253);
  border-radius: 10px;
}

/* 글쓰기 (버툰) */

.list_table{
  width: 100%;
  text-align: center;
}

.list_table > thead > tr{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.list_table > tbody > tr{
  border-bottom: 1px solid lightgray;
}

.list_table td{
  padding: 8px;
}

.btn_div{
  text-align: center;
  margin-top: 16px;
}

.clickable:hover{
  cursor: pointer;
  text-decoration: underline;
}

