.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 32px;
  background: url('/car3_background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Pretendard', sans-serif;
}

/* 유리 효과 카드 */
.glassCard {
  width: 80%;              
  background: rgba(255, 255, 255, 0.15); 
  border-radius: 20px;
  box-shadow: 0px 8px 32px rgba(222, 243, 252, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 30px;
  color: #ffffffd7;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

/* 등록 영역 */
.reg_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

/* 버튼 */
.btn_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}

/* 레이블 */
.reg_div span {
  line-height: 38px;
}

/* 테이블 */
.car_list_table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 12px;
  box-shadow: 0px 8px 32px rgba(27, 27, 27, 0.664);
  background-color: rgba(240, 230, 230, 0.185);
  color: rgba(22, 22, 22, 0.664);
}

.car_list_table td, 
.car_list_table th {
  padding: 6px;
  vertical-align: middle;
  border: 2px solid rgba(255, 253, 246, 0.371); /* 흰색 실금 테두리 */
}
