.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/car_background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.container > p {
  margin: 400px auto;
  font-size: 70px;
  color: rgb(253, 253, 218);
  height: 600px;
  text-align: center;
}