.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  background: url('/car2_background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f8f9fa;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

/* 유리 효과 카드 */
.glassCard {
  background: rgba(237, 218, 218, 0.55);
  border-radius: 40px;
  box-shadow: 0 8px 32px rgba(176, 165, 165, 0.942);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
  border: px solid rgba(255, 255, 255, 0.3);
  
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  gap: 20px;

  /* 글자 색 */
  color: #1f131394;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0 20 20px rgb(121, 92, 92);
}

.glassCard p,
.glassCard span {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.5rem;
}

.btn_div {
  margin-bottom: 4px;
}