<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->

<!--아래 링크 중요함-->
<mapper namespace="com.green.basic_board2.mapper.BoardMapper">

    <!--resultMap 만들기 : 조회된 데이터를 자바로 가져오는 정의를 생성-->
    <!-- 순서는 상관이 없다고 험    -->
    <resultMap id="board" type="com.green.basic_board2.dto.BoardDTO">
        <id     column="BOARD_NUM"  property="boardNum"/>
        <result column="TITLE"  property="title"/>
        <result column="WRITER"  property="writer"/>
        <result column="CONTENT"  property="content"/>
        <result column="READ_CNT"  property="readCnt"/>
        <result column="CREATE_DATE"  property="createDate"/>

    </resultMap>


    <!--게시글 등록 쿼리-->
    <!-- 1. 태그를 먼저 적는다-->
    <insert id="insertBoard">
        INSERT INTO BASIC_BOARD (
            TITLE
            , WRITER
            , CONTENT
            , READ_CNT
        ) VALUE (
        <!-- 매번 다른데이터가 들어갈 수 있도록 #{변수 똑같이 소문자로} -->
        <!-- '' 변수는 홀따옴표로 안 감싼다 -->
            #{title}
            , #{writer}
            , #{content}
            , #{readCnt}
        )
    </insert>

    <!--하나의 게시글에 제목과 내용을 변경하는 쿼리-->
    <update id="updateBoard">
        UPDATE BASIC_BOARD
        SET
            TITLE = #{title},
            CONTENT = #{content}
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--실습 1-->
    <update id="updateBoard2">
        UPDATE BASIC_BOARD
        SET
           BOARD_NUM = #{boardNum},
           TITLE = #{title},
           CONTENT = #{content},
        WHERE BOARD_NUM = #{boardNum}
    </update>

    <!--실습 2-->
    <delete id="deleteBoard">
        DELETE FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!--실습 BoardList-->
    <select id="getBoardList" resultMap="board">
        SELECT BOARD_NUM
            , TITLE
            , WRITER
            , CREATE_DATE
            , READ_CNT
        FROM BASIC_BOARD
        ORDER BY CREATE_DATE DESC;
    </select>

    <!--실습 BoardDetail-->
    <!-- 특정 게시글만 서치해서 찾기 위해서는 where 절을 반드시 적어야한다   -->
    <select id="getBoardDetail" resultMap="board">
        SELECT BOARD_NUM
            , READ_CNT
            , WRITER
            , CREATE_DATE
            , TITLE
            , CONTENT
        FROM BASIC_BOARD
        WHERE BOARD_NUM = #{boardNum}
    </select>

    <!--실습 BoardList2 - 제목검색-->
    <select id="searchTitle" resultMap="board">
        SELECT BOARD_NUM
        , TITLE
        , WRITER
        , CREATE_DATE
        , READ_CNT
        FROM BASIC_BOARD
        WHERE TITLE LIKE CONCAT('%', #{title}, '%')
    </select>

</mapper>































